.Footer {
  background-color: $violetLight;

  &__title {
    margin-top: 1rem;
  }

  .form-content {
    label {
      width: 100%;
      display: block;
      color: #fff;
      font-family: $ubuntu;
    }
    input {
      width: 100%;
      display: block;
      border: none;
      margin-bottom: 1rem;
      padding: 0.8rem;
      color: $charcoal;
    }
    button {
      width: 100%;
      display: block;
      border: none;
      margin-bottom: 2rem;
      background-color: $violet;
      color: #fff;
      padding: 0.4rem;

      &:hover {
        background-color: $violetDark;
      }
    }
  }
}
