.LogIn {
  background-color: #ccc;
  height: 100vh;
  width: 100%;
  position: relative;
  .content {
    position: relative;
    background-color: $violetLight;
    width: 80vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px;
    padding: 2rem;
  }
  .form-content {
    height: 100%;
    label {
      width: 100%;
      display: block;
      color: #fff;
      font-family: $ubuntu;
    }
    input {
      width: 100%;
      display: block;
      border: none;
      margin-bottom: 1rem;
      padding: 0.8rem;
      color: $charcoal;
    }
    button {
      width: 100%;
      display: block;
      border: none;
      margin-bottom: 2rem;
      margin-top: 2rem;
      background-color: $violet;
      color: #fff;
      padding: 0.8rem;

      &:hover {
        background-color: $violetDark;
      }
    }
  }
}
