// Colors
$violet: #6a6a8e;
$violetDark: #3e3f60;
$violetLight: #9998b3;
$charcoal: #36454f;

// Breakpoint
$small: 575.98px;
$medium: 767.98px;
$large: 991.98px;
$extraLarge: 1199.98px;

// Font
$vt: "VT323", monospace;
$ubuntu: "Ubuntu", sans-serif;
